* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
}

main {
  padding: 1.5rem;
}

.heading {
  font-size: 4rem;
  font-weight: 400;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.center {
  text-align: center;
}

.grid {
  display: grid;
}

.m-bottom {
  margin-bottom: 3rem;
}

/* 
*********************************************
HERO
*********************************************
*/

.hero-header {
  position: relative;
  background-color: black;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.hero-nav {
  position: absolute;
  top: 0;
  font-size: 3.5rem;
  font-weight: 700;
}

.nav-btn:link,
.nav-btn:visited {
  display: inline-block;
  color: #fff;
  margin: 1rem;
  padding: 0.3rem 1rem;
}

.nav-btn:hover,
.nav-btn:active {
  background-color: #ddd;
  color: #000;
}

.hero-heading {
  margin-bottom: 4.8rem;
  margin-top: 3rem;
  font-size: 6.2rem;
  font-weight: 400;
}

.hero-text {
  margin-top: 4.2rem;
  font-size: 2.4rem;
}

.hero-btn {
  display: inline-block;
  font-size: 3.4rem;
  padding: 1.2rem 2rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  background-color: #666;

  margin-bottom: 1.6rem;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #fff;
  color: #000;
}

/* 
*********************************************
3 column
*********************************************
*/

.section-3-card {
  margin-bottom: 4.8rem;
}

.main-card {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.main-card-1 {
  text-align: center;
  padding: 2.4rem 2.4rem 9.2rem 2.4rem;
  box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.5);
}

.card-heading {
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.card-logo {
  font-size: 20rem;
  font-weight: 100;
}

.card-list-item {
  list-style: none;
  margin-top: 2rem;
  font-size: 2rem;
}

/* 
*********************************************
COLORS
*********************************************
*/

.color {
  margin-bottom: 3rem;
}

.color-div {
  grid-template-columns: repeat(6, 1fr);
}

.red1 {
  background-color: red;
  font-size: 2rem;
  padding: 1.8rem;
  color: #fff;
}

.blue1 {
  background-color: #2196f3;
  font-size: 2rem;
  padding: 1.8rem;
  color: #fff;
}

.blue-gray1 {
  background-color: #607d8b;
  font-size: 2rem;
  padding: 1.8rem;
  color: #fff;
}

.teal1 {
  background-color: teal;
  font-size: 2rem;
  padding: 1.8rem;
  color: #fff;
}

.yellow1 {
  background-color: yellow;
  font-size: 2rem;
  padding: 1.8rem;
  color: #fff;
}

.orange1 {
  background-color: orange;
  font-size: 2rem;
  padding: 1.8rem;
  color: #fff;
}

/* 
*********************************************
RESPONSIVENESS
*********************************************
*/

.heading-text {
  font-size: 2.5rem !important;
  text-align: center;
  margin-bottom: 5rem !important;
}

.responsive p {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2.4rem;
  border: 1px solid #999;
}

.text-box {
  padding: 2.4rem;
}
.color-blue {
  background-color: #2196f3;
  color: #fff;
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2.4rem;
  border: 1px solid #999;
}

.color-green {
  background-color: #4caf50;
  color: #fff;
}

.grid-4-col {
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2.4rem;
  border: 1px solid #999;
}

.color-red {
  background-color: #f44336;
  color: #fff;
}

/* 
*********************************************
Containers
*********************************************
*/

.Containers {
  margin-bottom: 3rem;
}

.s-text {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.container-main {
  position: relative;
}

.close-main {
  display: none;
}

.close-btn {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2.4rem;
  color: #000;
  padding: 0.7rem 0.9rem;
}

.close-btn:hover,
.close-btn:visited {
  background-color: #999;
}

.container-header {
  font-size: 4rem;
  font-weight: 400;
  padding: 2.4rem;
  background-color: #607d8b;
  color: #fff;
}

.header-h3 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.container-footer {
  padding: 1.5rem;
  background-color: #607d8b;
}

.f1 {
  color: #fff !important;
}
.f2 {
  color: #999;
}

/* 
*********************************************
Containers
*********************************************
*/

.color-theme {
  margin-bottom: 3rem;
}

.color-theme-card {
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.color-theme-box {
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.5);
}
.color-header {
  font-size: 3rem;
  color: #fff;
  background-color: #3f51b5;
  padding: 1.2rem;
}
.color-theme-list {
  padding-left: 2.4rem !important;
  list-style: none;
  border-bottom: 1px solid #000;
}

.color-theme-list .heading {
  font-size: 3.2rem;
  padding: 1rem 0 1rem 0;
  margin: 1rem 0 1rem 0;
}

.color-footer {
  background-color: #3f51b5;
  color: #fff;
  text-align: right;
  font-size: 2.6rem;
  padding: 0.2rem 1.6rem;
}

.color-heading {
  color: #3f51b5;
}

.color-black {
  background-color: #000;
}

/* 
*********************************************
Containers
*********************************************
*/

.car-card-section {
  margin-bottom: 3rem;
}

.car-3-col {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.car-card-box p {
  padding: 1rem;
  font-size: 2.2rem !important;
}

.car-card-box img {
  width: 100%;
}

.car-card-box {
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.5);
}

table {
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.5);
  font-size: 2.2rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
thead {
  background-color: #000;
  color: #fff;
}
tbody {
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #999;
  border-collapse: collapse;
}
td,
th {
  padding: 1rem;
  /* border-bottom: 1px solid #999; */
}

/* 
*********************************************
FORM AND LIST
*********************************************
*/

.form-list {
  margin-bottom: 3rem;
}
.form-2-col {
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.form-div {
  padding: 1rem;
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.5);
}

.form-list-box .heading {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}

.form-div div {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid #000;
}
label {
  font-size: 2rem;
}

.checkbox {
  margin-top: 3rem;
  align-items: flex-start;
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
}

.check-box-1 {
  width: 50%;
}

.input1 {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 1rem;
}

.list-div {
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

ul {
  list-style: none;
  font-size: 2.2rem;
}

.ul-1 li {
  border-bottom: 1px solid #999;
  padding: 1rem;
}

.ul-1 li:last-child {
  border: none;
  padding: 1rem;
}

.ul-2 {
  margin-top: 2.4rem;
  border: 1px solid #999;
}

.ul-2 li:first-child {
  background-color: #000;
  color: #fff;
}

.ul-2 li:hover {
  background-color: #ddd;
}

.ul-2 li:first-child:hover {
  background-color: #000;
  color: #fff;
}

.progress-bar {
  margin-bottom: 3rem;
}

.bar {
  background-color: #ddd;
}

.progress {
  font-size: 2.4rem;
  background-color: #000;
  color: #fff;
  width: 5%;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2.2rem;
}

.progress-btn {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  font-size: 2.4rem;
}

.progress-btn:hover,
.progress-btn:active {
  box-shadow: 0 1rem 5rem 0.2rem rgba(0, 0, 0, 0.5);
}

/* 
*********************************************
SLIDESHOW
*********************************************
*/

.slide-show {
  margin-bottom: 3rem;
}

.slide-box {
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.slide-box img {
  width: 100%;
}

.slide-icon {
  position: absolute;
  font-size: 2.4rem;
  padding: 1.5rem;
  top: 50%;
  transform: translate(0, -50%);
}

.slide-left {
  left: 0;
}
.slide-right {
  right: 0;
}

.slide-icon:hover {
  background-color: #999;
  color: #fff;
}

/* 
*********************************************
SLIDESHOW
*********************************************
*/

.nav-div a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 2rem;
}

.nav-div a:hover,
.nav-div a:active {
  background-color: #ddd;
  color: #000;
}

.nav-div {
  font-size: 2.4rem;
  /* padding: 1.5rem; */
  background-color: #000;
}

.drop {
  display: inline-block;
  position: relative;
}

.drop-menu {
  position: absolute;
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.5);
  top: 100%;
}

/* .drop:hover .drop-menu {
  display: inline-block;
} */

.drop-menu {
  display: none;
}

.drop-menu a {
  display: inline-block;
  width: 100%;
  color: #000;
}
.drop-menu a:hover {
  color: #ddd;
  color: #000;
}

/* 
*********************************************
ACORDION
*********************************************
*/

.open-text {
  background-color: #000;
  color: #fff;
  padding: 1.5rem;
  font-size: 2.4rem;
}

.open-text:hover {
  background-color: #ddd;
  color: #000;
  cursor: pointer;
}

.open-p {
  font-size: 2.4rem;
  padding: 1rem;
}

.open-div,
.open-div a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 1rem;
  font-size: 2.4rem;
  line-height: 1.2;
}

.open-div a:hover {
  background-color: #ddd;
}

.close-div {
  display: none;
}

/* 
*********************************************
ACORDION
*********************************************
*/
.tab-group {
  border: 1px solid #666;
}

.tab-div {
  padding: 1.5rem;
}
.tab-link {
  background-color: #000;
}

.tab-link a {
  font-size: 2.2rem;
  display: inline-block;
  text-decoration: none;
  padding: 2rem;
  color: #fff;
}

.tab-link a:hover {
  background-color: #ddd;
}

.active {
  background-color: #666;
}
.tab-text {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* 
*********************************************
BUTTON
*********************************************
*/

.button {
  border: none;
  text-decoration: none;
  font-size: 2.4rem;
  padding: 1.5rem 2rem;
  background-color: #000;
  color: #fff;
  margin-left: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #ddd;
  color: #000;
}

.button-1 {
  background-color: #999;
  cursor: not-allowed;
}
.button-1:hover {
  background-color: #ddd;
  color: #999;
}

.r-btn:link,
.r-btn:visited {
  display: inline-block;
  font-size: 3rem;
  margin-left: 1rem;
  padding: 1.5rem 1.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
}

.r-btn:hover {
  background-color: #ddd;
  color: #000;
}
.r-btn-1 {
  background-color: #fff !important ;
  color: #000 !important ;
  box-shadow: 0 2px 2rem rgba(0, 0, 0, 0.5);
}
.r-btn-1:hover {
  background-color: #999 !important;
  color: #ddd;
}

.plus-icon {
  display: flex;
  align-items: center;
  justify-items: center;
}

/* 
*********************************************
pagination
*********************************************
*/

.pagination a {
  /* display: inline-block; */
  text-decoration: none;
  margin-left: 0;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: #000;
}

.pagination a:hover {
  background-color: #000;
  color: #fff;
}

.number-btn-1 {
  background-color: #000;
  color: #fff !important;
}

footer {
  position: relative;
  margin-top: 9rem;
  background-color: #000;
  color: #fff;
  padding: 1rem 1rem 5rem 2rem;
}

.footer-text {
  font-size: 2.2rem;
  margin-top: 1.6rem;
}

footer a {
  color: #fff;
}

.footer-link {
  padding: 0.5rem 2rem;
  background-color: #fff !important;
  color: #000;
  text-decoration: none;
}

.footer-icon {
  position: absolute;
  font-size: 4rem;
  transform: translate(0, -50%);
  top: 50%;
  right: 0;
  margin-right: 1rem;
}

@media (max-width: 650px) {
  html {
    font-size: 50%;
  }
  .grid {
    display: block;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
